<html>
    <head><title>Transaction History</title></head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <header><%- include('header') %></header>
        <style>
            td{
                color: white;
            }
        </style>
    <body>
        <div class='me'>
            <marquee  direction="up">Created by <br> PREETHAM REDDY</marquee>
        </div>
        <div class='main1'>
        <h1 class='h111'>TRANSACTION HISTORY</h1>
        <% if(transaction.length>0) { %>
        <table class='table container-fluid'>
            <tr style='background-color:black;color:white;'>
                <th>Sender</th>
                <th>Account Number</th>
                <th>Amount</th>
                <th>Receiver</th>
                <th>Account Number</th>
                <th>Transaction Date</th>
                <th>Time</th>
            </tr>
            <% for(i=0;i<transaction.length;i++){
                let space =transaction[i].time.split(" ");
                let comma=space[0].split(',');
                let slash=comma[0].split('/');
                console.log(slash);
                let month,day,year;
                if(slash[0]>='1' && slash[0]<='9')month='0'+slash[0];
                else month=slash[0];
                if(slash[1]>='1' &&  slash[0]<='9')day='0'+slash[1];
                else day=slash[1];
                 year = slash[2];
                const date= day+'-'+month+'-'+year;                    
            %>
            <tr style='background: rgb(125,5,84);
            background: radial-gradient(circle, rgba(125,5,84,1) 50%, rgb(0, 104, 190) 100%)';>
                <td><%= transaction[i].from %></td>
                <td><%= transaction[i].accNoF %></td>
                <td>₹ <%= transaction[i].amount %></td>
                <td><%= transaction[i].to %></td>
                <td><%= transaction[i].accNoT %></td>
                <td><%= date %></td>
                <td><%= space[1]+' '+space[2] %></td>
            </tr>
            <% } %>
        </table>
    <% } 
    else { %>
        <div class="container" style='width:60%;height:400px;background-color:blanchedalmond;margin-top:7%;'>
           <h2 style='color:red;position: relative;;top:50%;'>No Transactions Done</h2> 
        </div>
    
    <% } %>
    </div>
    </body>
</html>